body {
	background-color: #DFF0D8;
}

.middle {
	background-color: white;
	width: 1000px;
	height: 1000px;
	margin-left: auto;
	margin-right: auto;
	float: 
}
.menu{
	margin-left: auto;
	margin-right: auto;

}