body {
	background-color: #DFF0D8;
}

.middle {
	background-color: white;
	width: 1000px;
	height: 1000px;
	margin-left: auto;
	margin-right: auto;
	float: 
}
.menuframe{
	height: 69px;
	width: 1050px;
	border: none;
	margin-left: -20px;

}
.menu{
	margin-left: auto;
	margin-right: auto;

}