input#chat {
	width: 410px;
}

#console-container {
	width: 400px;
}

#console {
	border: 1px solid #CCCCCC;
	border-right-color: #999999;
	border-bottom-color: #999999;
	height: 170px;
	overflow-y: scroll;
	padding: 5px;
	width: 100%;
	background-color: white;
}

#console p {
	padding: 0;
	margin: 0;
}
.middle {
	background-color: white;
	width: 75%;
	height: 1000px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 15px;
	padding-top: 5px;
	padding-left: 10px;
	z-index: 1;
	
}